* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

body {
    background-image: url("/assets/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Abel', sans-serif;
    font-size: 10px;
}

h1 {
    font-family: 'Merriweather', serif;
}

h2 {
    font-weight: normal;
}

*:focus {
    outline: none;
}


.btn {
    background: #cccccc;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    color: #000000;
    text-decoration: none;
    transition: box-shadow 0.25s ease-out, background 0.25s ease-out;
}

.btn:hover {
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
    background: #aaaaaa;
}

/* Main header */
header.main-header {
    background: #000000;
    padding: 2rem;
    box-shadow: 0 0 1rem #000000;
}

header.main-header h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

/* search */
.search {
    width: 60%;
    margin: 10rem auto;
}
.search .search-label {
    font-size: 2.5rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.search .search-field {
    margin-top: 2rem;
}

.search .search-field input {
    width: 100%;
    border: 0.01rem solid #000000;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    font-family: 'Abel', sans-serif;
    transition: box-shadow 0.5s ease-out;
    box-sizing: border-box;
}

.search .search-field input:focus {
    box-shadow: 0 0 2rem #000000;
}

.search .search-quick-view.hidden {
    opacity: 0;
    transition: opacity 0s linear;
}

.search .search-quick-view {
    width: 100%;
    border: 0.01rem solid #000000;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    font-size: 2.5rem;
    transition: opacity 0.25s ease-out;
}

.search .search-quick-view .search-quick-view-list li {
    list-style: none;
    width: 100%;
}

.search .search-quick-view .search-quick-view-list li a {
    background: #fff;
    list-style: none;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: background 0.25s ease-out;
    padding: 1rem;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
}

.search .search-quick-view .search-quick-view-list li a:hover,
.search .search-quick-view .search-quick-view-list li.active a {
    background: #dddddd;
}


/* Page Not Found */
#page-not-found .not-found-body {
    margin-top: 5rem;
    text-align: center;
}
#page-not-found h2 {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}


/* Company Detail */
#page-company .page-company-body {
    width: 60rem;
    max-width: 100%;
    margin: 3rem auto;
}

#page-company .page-company-body header,
#page-company .page-company-body .company-item-body {
    background: #ffffff;
    line-height: 3rem;
    padding: 1rem;
}
#page-company .page-company-body header img {
    width: 3rem;
    vertical-align: middle;
    margin-right: 1rem;
}
#page-company .page-company-body header h2 {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
}
#page-company .page-company-body .company-alert {
    background: #6e1d1c;
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
}
#page-company .page-company-body .btn {
    margin-right: 1rem;
    font-size: 1rem;
}

/* page loading */
#page-loading .loading-body {
    color: #ffffff;
    padding: 1rem;
}
