* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100%;
}

html {
    font-size: 12px;
}

body {
    background-image: url("/assets/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
}

h2 {
    font-weight: normal;
    font-size: 2.5rem;
}

p {
    font-size: 1.25rem;
}

*:focus {
    outline: none;
}


.btn {
    background: #cccccc;
    padding: 0.5rem 1.5rem;
    border-radius: 5rem;
    color: #000000;
    text-decoration: none;
    font-size: 1.2rem;
    transition: box-shadow 0.25s ease-out, background 0.25s ease-out;
    white-space: nowrap;
}

.btn:hover {
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.5);
    background: #aaaaaa;
}

/* Main header */
header.main-header {
    background: #000000;
    padding: 2rem;
    box-shadow: 0 0 1rem #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1;
}

header.main-header h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

header.main-header + * {
    margin-top: 10rem;
}

/* search */
.search {
    margin: 0 auto;
    width: 100%;
}
.search .search-label {
    font-size: 2rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.search .search-field {
    margin-top: 2rem;
    width: 100%;
}

.search .search-field input {
    width: 100%;
    border: 0.01rem solid #000000;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    font-family: 'Abel', sans-serif;
    transition: box-shadow 0.5s ease-out;
    box-sizing: border-box;
}

.search .search-field input:focus {
    box-shadow: 0 0 2rem #000000;
}

.search .search-quick-view.hidden {
    opacity: 0;
    transition: opacity 0s linear;
}

.search .search-quick-view {
    width: 100%;
    border: 0.01rem solid #000000;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    font-size: 2.5rem;
    transition: opacity 0.25s ease-out;
}

.search .search-quick-view .search-quick-view-list li {
    list-style: none;
    width: 100%;
}
.search .search-quick-view .search-result-error-message,
.search .search-quick-view .search-quick-view-list li a {
    background: #fff;
    list-style: none;
    cursor: pointer;
    border-radius: 1.5rem;
    transition: background 0.25s ease-out;
    padding: 1rem;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
}

.search .search-quick-view .search-quick-view-list li a:hover,
.search .search-quick-view .search-quick-view-list li.active a {
    background: #dddddd;
}

.search .search-quick-view .search-result-error-message a {
    font-size: 1rem;
    color: #000000;
}


/* Page Not Found */
#page-not-found .not-found-body {
    margin-top: 5rem;
    text-align: center;
}
#page-not-found h2 {
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
}

/* Pages */
.page-body {
    max-width: 100%;
    margin: 3rem auto;
    background: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
}

/* homem */
#page-home .search {
    position: absolute;
    width: 90%;
    min-height: 100%;
    left: 5%;
    top: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}


/* Company Detail */
#page-company .page-company-body {
    padding: 0;
}
#page-company .page-company-body header,
#page-company .page-company-body .company-item-body {
    background: #ffffff;
    line-height: 3rem;
    padding: 1rem;
}
#page-company .page-company-body header img {
    width: 3rem;
    vertical-align: middle;
    margin-right: 1rem;
}
#page-company .page-company-body header h2 {
    display: inline-block;
    vertical-align: middle;
}
#page-company .page-company-body .company-alert {
    background: #6e1d1c;
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
}
#page-company .page-company-body .btn {
    margin-right: 1rem;
    font-size: 1rem;
}

/* Page Company List */
#page-company-list ul {
    font-size: 1.25rem;
    list-style: none;
}

#page-company-list ul.company-list li a {
    display: block;
    color: #666666;
    border-bottom: 0.01rem solid #666666;
    text-decoration: none;
    padding: 1rem 0;
    transition: background 0.25s ease-out;
}

#page-company-list ul.company-list li a:hover {
    background: #eeeeee;
}


@media (min-width: 1000px) {
    html {
        font-size: 16px;
    }
    #page-home .search {
        width: 60%;
        left: 20%;
    }
    .page-body {
        width: 60%;
    }

    header.main-header + * {
        margin-top: 7rem;
    }
}

@media (min-width: 1500px) {
    #page-home .search {
        width: 40%;
        left: 30%;
    }
}
